.gradle/
.gradle-user-home/
.idea/
.kotlin/
.vs/
local.properties
**/build/
captures/
*.iml
gradle-8.9/
gradle-8.9-bin.zip
ui-*.xml
window_dump_*.xml
home.png
emu-*.png
emu-*.jpg
section-colors.png
tmp/
tmp2/
tmp3/
tmp4/
